.vs
/bin/
/obj/
/Datos/bin/Debug
/Datos/obj/Debug
/Entidades/bin/Debug
/Entidades/obj/Debug
/Logica/bin/Debug
/Logica/obj/Debug
/Presentacion/bin/Debug
/Presentacion/obj/Debug
/Datos/bin/Release
/Datos/obj/Release
/Entidades/bin/Release
/Entidades/obj/Release
/Logica/bin/Release
/Logica/obj/Release
/Presentacion/bin/Release
/Presentacion/obj/Release
/Conexion/obj/Debug
/Conexion/obj/Release
